body {
  margin: 0;
  padding: 0;
  background-image: url("../img/hallowee.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -400px;
}

#wrapper {
  min-width: 800px;
}

#logo {
  /*margin-top: 100px;*/
  margin: auto;
  text-align: center;
}